<div class="jumbotron">
    <h1>Football Manager</h1>
    <p class="lead">Football Manager is an API that lets you store your favorite football team, players, games, and stats.
                    You can find information for your team at the Official NFL Website.</p>
    <p>Click below!</p>
    <p><a href="https://www.nfl.com/" class="btn btn-primary btn-lg">NFL Website &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Get Information</h2>
        <p>NFL.com is the Official Site of all 32 NFL Teams. The buttons below can be used to open the pages of specific information.
           You can then add this information to the Football Manager database for cataloguing and with our Console App!</p>
        <p><a class="btn btn-default" href="https://www.nfl.com/scores/2019/REG1">Past Games &raquo;</a></p>
        <p><a class="btn btn-default" href="https://www.nfl.com/teams/">Teams &raquo;</a></p>
        <p><a class="btn btn-default" href="https://www.nfl.com/players/">Players &raquo;</a></p>
        <p><a class="btn btn-default" href="https://www.nfl.com/stats/player-stats/">Player Stats &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301871">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>
    </div>
</div>
