<div class="jumbotron" style="background-image: url(https://p0.piqsels.com/preview/1002/230/546/topview-of-grass-lawn.jpg)">
    <h1 style="color:white; font-weight:bold">Football Manager</h1>
    <p class="lead" style="color:white; font-weight:bold">Football Manager is an API that lets you store your favorite 
    football team, players, games, and stats.You can find information for your team at the Official NFL Website.</p>
    <p style="color: white; font-weight: bold">Click below!</p>
    <p><a href="https://www.nfl.com/" class="btn btn-primary btn-lg">NFL Website &raquo;</a></p>
</div>
@*<div class="row">
    <div class="col-md-12">
        <h2>Get Information</h2>
        <p>NFL.com is the Official Site of all 32 NFL Teams. The buttons below can be used to open the pages of specific information.
        You can then add this information to the Football Manager database for cataloguing and with our Console App!</p>
        <p><a class="btn btn-default" href="https://www.nfl.com/scores/2019/REG1">Past Games &raquo;</a></p>
        <p><a class="btn btn-default" href="https://www.nfl.com/teams/">Teams &raquo;</a></p>
        <p><a class="btn btn-default" href="https://www.nfl.com/players/">Players &raquo;</a></p>
        <p><a class="btn btn-default" href="https://www.nfl.com/stats/player-stats/">Player Stats &raquo;</a></p>
    </div>
</div>*@

<hr>

<div class="row">
    <div class="col-md-3">
        <h2>Player</h2>
        <p>Use the buttons below to View, Create, Edit, and Delete Players.</p>
        <p><a class="btn btn-default" href="https://localhost:44363/PlayerView/Index">View &raquo;</a></p>
        <p><a class="btn btn-default" href="https://localhost:44363/PlayerView/Create">Create &raquo;</a></p>
        <p><a class="btn btn-default" href="https://localhost:44363/PlayerView/Edit">Edit &raquo;</a></p>
        <p><a class="btn btn-default" href="https://localhost:44363/PlayerView/Delete">Delete &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Player Stats</h2>
        <p>Use the buttons below to View, Create, Edit, and Delete Player Stats.</p>
        <p><a class="btn btn-default" href="https://localhost:44363/PlayerStatsView/Index">View &raquo;</a></p>
        <p><a class="btn btn-default" href="https://localhost:44363/PlayerStatsView/Create">Create &raquo;</a></p>
        <p><a class="btn btn-default" href="https://localhost:44363/PlayerStatsView/Edit">Edit &raquo;</a></p>
        <p><a class="btn btn-default" href="https://localhost:44363/PlayerStatsView/Delete">Delete &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Team</h2>
        <p>Use the buttons below to View, Create, Edit, and Delete Teams.</p>
        <p><a class="btn btn-default" href="https://localhost:44363/TeamView/Index">View &raquo;</a></p>
        <p><a class="btn btn-default" href="https://localhost:44363/TeamView/Create">Create &raquo;</a></p>
        <p><a class="btn btn-default" href="https://localhost:44363/TeamView/Edit">Edit &raquo;</a></p>
        <p><a class="btn btn-default" href="https://localhost:44363/TeamView/Delete">Delete &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Game</h2>
        <p>Use the buttons below to View, Create, Edit, and Delete Games.</p>
        <p><a class="btn btn-default" href="https://localhost:44363/GameView/Index">View &raquo;</a></p>
        <p><a class="btn btn-default" href="https://localhost:44363/GameView/Create">Create &raquo;</a></p>
        <p><a class="btn btn-default" href="https://localhost:44363/GameView/Edit">Edit &raquo;</a></p>
        <p><a class="btn btn-default" href="https://localhost:44363/GameView/Delete">Delete &raquo;</a></p>
    </div>
</div>
