<div class="jumbotron" style="background-image: url(https://p0.piqsels.com/preview/1002/230/546/topview-of-grass-lawn.jpg)">
    <h1 style="color:white; font-weight:bold">Football Manager</h1>
    <p class="lead" style="color:white; font-weight:bold">Football Manager is an API that lets you store your favorite 
    football team, players, games, and stats.You can find information for your team at the Official NFL Website.</p>
    <p style="color: white; font-weight: bold">Click below!</p>
    <p><a href="https://www.nfl.com/" class="btn btn-primary btn-lg">NFL Website &raquo;</a></p>
</div>

<hr>

<div class="row">
    <div class="col-md-3">
        <h2>Player</h2>
        <p>Use the buttons below to view the Index, Create, and Edit Players.</p>
        <p><a class="btn btn-default" href="https://localhost:44363/PlayerView/Index">Index &raquo;</a></p>
        <p><a class="btn btn-default" href="https://localhost:44363/PlayerView/Create">Create &raquo;</a></p>
        <p><a class="btn btn-default" href="https://localhost:44363/PlayerView/Edit">Edit &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Player Stats</h2>
        <p>Use the buttons below to view the Index, Create, and Edit Player Stats.</p>
        <p><a class="btn btn-default" href="https://localhost:44363/PlayerStatsView/Index">Index &raquo;</a></p>
        <p><a class="btn btn-default" href="https://localhost:44363/PlayerStatsView/Create">Create &raquo;</a></p>
        <p><a class="btn btn-default" href="https://localhost:44363/PlayerStatsView/Edit">Edit &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Team</h2>
        <p>Use the buttons below to view the Index, Create, and Edit Teams.</p>
        <p><a class="btn btn-default" href="https://localhost:44363/TeamView/Index">Index &raquo;</a></p>
        <p><a class="btn btn-default" href="https://localhost:44363/TeamView/Create">Create &raquo;</a></p>
        <p><a class="btn btn-default" href="https://localhost:44363/TeamView/Edit">Edit &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Game</h2>
        <p>Use the buttons below to view the Index, Create, and Edit Games.</p>
        <p><a class="btn btn-default" href="https://localhost:44363/GameView/Index">Index &raquo;</a></p>
        <p><a class="btn btn-default" href="https://localhost:44363/GameView/Create">Create &raquo;</a></p>
        <p><a class="btn btn-default" href="https://localhost:44363/GameView/Edit">Edit &raquo;</a></p>
    </div>
</div>
