<div class="jumbotron" style="background-image: url(https://p0.piqsels.com/preview/1002/230/546/topview-of-grass-lawn.jpg)">
    <h1 style="color:white; font-weight:bold">Football Manager</h1>
    <p class="lead" style="color:white; font-weight:bold">Football Manager is an API that lets you store your favorite 
    football team, players, games, and stats.You can find information for your team at the Official NFL Website.</p>
    <p style="color: white; font-weight: bold">Click below!</p>
    <p><a href="https://www.nfl.com/" class="btn btn-primary btn-lg">NFL Website &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>Get Information</h2>
        <p>NFL.com is the Official Site of all 32 NFL Teams. The buttons below can be used to open the pages of specific information.
        You can then add this information to the Football Manager database for cataloguing and with our Console App!</p>
        <p><a class="btn btn-default" href="https://www.nfl.com/scores/2019/REG1">Past Games &raquo;</a></p>
        <p><a class="btn btn-default" href="https://www.nfl.com/teams/">Teams &raquo;</a></p>
        <p><a class="btn btn-default" href="https://www.nfl.com/players/">Players &raquo;</a></p>
        <p><a class="btn btn-default" href="https://www.nfl.com/stats/player-stats/">Player Stats &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Placeholder for Filling out Tables</h2>
        <p>I run a pretty tight ship around here. With a pool table. However, she mistook the drowsy eye alcohol warning for a
        winking eye alcohol suggestion. I don't criticize you! And if you're worried about criticism, sometimes a diet is the best
        defense. I don't care if it takes from now till the end of Shrimpfest. Taste the happy, Michael. Taste it. It tastes kind
        of like sad. Coo coo ca chaw. Coo coo ca chaw. She's a contestant. It's sorta like an inner beauty pageant. Ah, there it is.
        </p>
        <p><a class="btn btn-default" href="https://www.nfl.com/scores/2019/REG1">Create Game &raquo;</a></p>
        <p><a class="btn btn-default" href="https://www.nfl.com/teams/">Create Teams &raquo;</a></p>
        <p><a class="btn btn-default" href="https://www.nfl.com/players/">Create Players &raquo;</a></p>
        <p><a class="btn btn-default" href="https://www.nfl.com/stats/player-stats/">Create Player Stats &raquo;</a></p>
    </div>
</div>
